<div class="modal-body">
  <!-- form card register -->
  <div class="card card-outline-secondary">
    <div class="card-header">
      <h4 class="modal-title" id="modal-basic-title">Book Update</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()" *ngIf="editForm">

        <div class="form-group">
          <label for="title">Title:</label>
          <input class="form-control" type="text" formControlName="title">
          <div class="invalid-feedback" *ngIf="!submitted && myForm.title.errors?.required">
            Title is required.
          </div>
        </div>

        <div class="form-group">
          <label for="author">Author:</label>
          <select class="custom-select form-control" formControlName="author">
            <option *ngFor="let author of Author" value="{{author.id}}">{{author.first_name}} {{author.family_name}}
            </option>
          </select>
          <!-- error -->
          <div class="invalid-feedback pb-2" *ngIf="!submitted && myForm.author.errors?.required">
            Author is required.
          </div>
        </div>

        <div class="form-group">
          <label for="inputName">Summary:</label>
          <input class="form-control mb-2" type="text" formControlName="summary">
          <!-- error -->
          <div class="invalid-feedback pb-2" *ngIf="!submitted && myForm.summary.errors?.required">
            Summary is required.
          </div>
        </div>

        <div class="form-group">
          <label for="inputName">Isbn:</label>
          <input class="form-control mb-2" type="text" formControlName="isbn">
          <!-- error -->
          <div class="invalid-feedback pb-2" *ngIf="!submitted && myForm.isbn.errors?.required">
            isbn is required.
          </div>
        </div>

        <div class="form-group">
          <label for="genre">Genre:</label>
          <select class="custom-select form-control" formControlName="genre">
            <option *ngFor="let genre of Genre" value="{{genre.id}}">{{genre.name}}</option>
          </select>
          <!-- error -->
          <div class="invalid-feedback pb-2" *ngIf="!submitted && myForm.genre.errors?.required">
            Genre is required.
          </div>
        </div>

        <div class="modal-footer">
          <button [disabled]="submitted" class="btn btn-success">Update</button>
          <button [disabled]="submitted" type="button" class="btn btn-danger"
            (click)="modal.close('Cancel')">Cancel</button>
        </div>
      </form>
    </div>
  </div><!-- form  -->
</div>

<!--Original Form-->
<!--<div class="row justify-content-center">
  <div class="col-md-4 register-employee">
    <div class="card card-outline-secondary">
      <div class="card-header">
        <h3 class="mb-0">Update Book</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label for="title">Title:</label>
            <input class="form-control" type="text" formControlName="title">
            <div class="invalid-feedback" *ngIf="submitted && myForm.title.errors?.required">
              Title is required.
            </div>
          </div>

          <div class="form-group">
            <label for="author">Author:</label>
            <select class="custom-select form-control" formControlName="author">
              <option *ngFor="let author of Author" value="{{author.id}}">{{author.first_name}} {{author.family_name}}
              </option>
            </select>
            <div class="invalid-feedback pb-2" *ngIf="submitted && myForm.author.errors?.required">
              Author is required.
            </div>
          </div>

          <div class="form-group">
            <label for="inputName">Summary:</label>
            <input class="form-control mb-2" type="text" formControlName="summary">

            <div class="invalid-feedback pb-2" *ngIf="submitted && myForm.summary.errors?.required">
              Summary is required.
            </div>
          </div>

          <div class="form-group">
            <label for="inputName">Isbn:</label>
            <input class="form-control mb-2" type="text" formControlName="isbn">

            <div class="invalid-feedback pb-2" *ngIf="submitted && myForm.isbn.errors?.required">
              isbn is required.
            </div>
          </div>

          <div class="form-group">
            <label for="genre">Genre:</label>
            <select class="custom-select form-control" formControlName="genre">
              <option *ngFor="let genre of Genre" value="{{genre.id}}">{{genre.name}}</option>
            </select>
            <div class="invalid-feedback pb-2" *ngIf="submitted && myForm.genre.errors?.required">
              Genre is required.
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" type="submit">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>-->
